body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000de;
    color: #ffffff;
}
.navbar{
    background-color: #000000;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar button{
    height: 40px;
    border: 0.1px solid #000000;
    background-color: #ffffff;
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar button img{
    height: 18px;
    filter: opacity(50%);
}
.navbar input{
    height:25px;
    width: 780px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    outline: none;
}
.navbar a{
    margin: 10px;
    font-size: 14px;
    text-decoration: none;
    color:#fff;
}
.navbar .icon{
    filter:invert();
}
.banner{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner img{
    height: 100%;
    width: 100%;
}
.content1{
    color: #ffffff;
}
.content2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-around;
}
.topic1{
    height: 15px;
    width: 430px;
    margin: 10px;
    padding: 10px;
    border: 0.1px solid #ffffff16;
    box-shadow: rgba(255, 255, 255, 0.027) 0px 8px 24px;
}
.topic1:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    background: #9f9b9b;
}
.content4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card1{
    height: 300px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff1c;
    color: #ffffff;
    border: 0.1px solid #ffffff10;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
}
.card1 img{
    height: 50%;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}
.card1:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}
.content5{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #000000;
}
.content5 h4{
    font-size: 13px;
    font-weight: lighter;
    margin: 20px;
    color: #ffffff;
    height: 30px;
    width: 200px;
}
.content5 a{
    text-decoration: none;
}
.logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    margin: 25px;
}
/*@media only screen and (max-width: 620px){
    .navbar{
        left: 0;
    }
    .navbar input{
        height:25px;
        width: 130px;
        border-radius: 10px;
        font-size: 15px;
    }
    .navbar .navlogo{
        width: 0px;
    }
    .navbar button{
        height: 30px;
        margin-left: 10px;
        margin-right: 0px;
    }
    .navbar a{
        margin: 0px;
        font-size: 10px;
    }
    .banner{
        height: 40px;
    }
    .card1{
        height: 180px;
        width: 180px;
    }
    .content2 h4{
        font-size: 10px;
    }
    .content2 h5{
        font-size: 8px;
    }
    .content4 h4{
        font-size: 10px;
    }
    .content4 h5{
        font-size: 8px;
    }
    .topic1{
        height: 15px;
        width: 150px;
    }
    .content3{
        text-align: center;
    }
    .footer{
        width: 50%;
    }
}*/

@media only screen and (max-width: 620px){
    .navbar{
        left: 0;
    }
    .navbar input{
        height:15px;
        width: 0px;
        border-radius: 10px;
        font-size: 15px;
    }
    .navbar .icon{
        height: 20px;
    }
    .navbar .navlogo{
        height: 25px;
        width: 50px;
    }
    .navbar button{
        height: 25px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .banner{
        height: 40px;
    }
    .card1{
        height: 140px;
        width: 100px;
    }
    .content2 h4{
        font-size: 8px;
    }
    .content2 h5{
        font-size: 6px;
    }
    .content4 h4{
        font-size: 8px;
    }
    .content4 h5{
        font-size: 6px;
    }
    .topic1{
        height: 15px;
        width: 100px;
    }
    .content3{
        text-align: center;
    }
    .footer{
        width: 50%;
    }
    .navbar a{
        margin: 7px;
    }
    h1{
        font-size: 16px;
    }
    h3{
        font-size: 14px;
    }
}